<h1><%= I18n.t('boost_my_spirit.welcome') %></h1>

<h3><%= I18n.t('boost_my_spirit.set_your_goal') %> :</h3>

<div class="container">
  <div class="col-md-4">
    <ul class="list-group">
      <li class="list-group-item"><%= I18n.t('boost_my_spirit.list_objectives') %></li>
      <li class="list-group-item"><%= I18n.t('boost_my_spirit.personal_relation_with_god') %></li>
      <li class="list-group-item">Me sentir ben dans l’Eglise</li>
      <li class="list-group-item">Etre un saint du XXI siècle</li>
      <li class="list-group-item">Impressionner les autres avec ma vie de prière</li>
      <li class="list-group-item">Améliorer ma vie de couple</li>
      <li class="list-group-item">Choisir ma vocation</li>
      <li class="list-group-item">Exemple pour mes enfants</li>
      <li class="list-group-item">Me démarquer au travail</li>
      <li class="list-group-item">M’aimer</li>
    <li class="list-group-item">Mieux m’accepter</li>
      <li class="list-group-item">Me prouver que je peux le faire</li>
      <li class="list-group-item">Prolonger ma vie</li>
    </ul>
  </div>
</div>
      
